
@model string

<html>
<head>
    <link href="~/Assets/_APIMessage/_APIMessage.css" rel="stylesheet" />
</head>
<body>
    <div class="msgContainer">
        <p class="msgtxt">@Model</p>
    </div>
</body>
</html>

