body {
    width: 100%;
    height: 100vh;
}
.title {
    color: black;
    text-align: center
}
tr, th, td {
    border: solid;
    border-width: 1px;
    padding: 15px
}
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
}
nav {
    background: rgba(0,0,0,0.2);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
a {
    text-decoration: none;
    padding: 0 15px;
    color: black;
}
a:hover{
    background: rgb(255, 0, 0);
    color: aqua
}
button {
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}