html, body {
    margin: 0;
    padding: 0
}
body {
    /*    background: url('../../images/backgroundimg.jpg') no-repeat center center;*/
    background: url('../../images/bg.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: block;
    min-height: 100vh
}
.container {
    background-color: rgba(0,0,0,0.6);
    width: 30%;
    border-radius: 10px;
    border-width: 1px;
}
.containerDiv {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.title {
    color: white;
    text-align: center;
    margin-top: 20px;
}
#messageContainer {
    position: fixed; 
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 9999;
    display: none;
}
.inputTextBox, select {
    padding: 10px;
    margin: 0 auto 10px auto;
    display: block;
    border-width: 1px;
    border-radius: 5px;
}
.submitBtn {
    padding: 10px;
    margin: 0 auto 10px auto;
    display: block;
}
.label {
    padding: 10px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    color: white;
}
.loginLabel {
    color: #31D492;
    font-weight: bold;
}
.registerLabel {
    color: #31D492;
    font-weight: bold
}
#LoginCard{
    display: none
}